h1 {
    color: #454E9E;
    margin-top: 5%;
    text-align: center;
}

body {
    font-family: sans-serif;
    color: #454E9E;
    background-color: #343B78;
    text-align: center;
    
}

.middle {
    width: 60%;
    height: auto;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background-color: #BA9B02;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

hr {
    background-color: #454E9E;
    border-color: #454E9E;
}